{#
/**
 * @file
 * Message UI theme implementation for an item list for message instances.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 *
 * @see template_preprocess_item_list()
 *
 * @ingroup themeable
 */
#}
{%- if items or empty -%}
  {%- if title is not empty -%}
    <h3>{{ title }}</h3>
  {%- endif -%}

  {%- if items -%}
    <{{ list_type }}{{ attributes.addClass('admin-list') }}>
      {%- for item in items -%}
        <li{{ item.attributes.addClass('clearfix') }}>
          <span class="label">{{ item.internal_link }}</span>
          <div class="description">
            {% trans %}Create a message instance of {{ item.name }}.{% endtrans %}
          </div>
        </li>
      {%- endfor -%}
    </{{ list_type }}>
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
{%- endif %}
